


header{
    position: sticky;
    top: 0;
    margin: auto;
    z-index: 100;
    
}
#menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: -47% !important;
  }
  #menu__toggle:not(:checked) ~ .menu__box {
    left: -100%;
  }
  .menu__btn {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn{
    margin-left: 10px;
    margin-top: 20px;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
    border-radius: 5px;
    
    
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
    
  }
  .menu__box {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 60px;
    height: 100%;
    margin: 0;
    padding: 100px  ;
    list-style: none;
    background-color: #007acce7;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__logout{
    margin-top: 400px;
    font-family: 'Roboto', sans-serif;
 }
  .menu__item {
    display: flex;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  
  .menu__item:hover {
    color: #CFD8DC;
  }
  .hamburger-menu{
    width: 23px;
    height: 0px;
    
  }
/* .hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding-left: 30px ;
    margin-top: 22px;
    position: absolute;
    
}
.bar{
    width: 23px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
    transition: transform 0.3s ease;
    border-radius: 3px;
} */

.container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #007acc;
    color: white;
    justify-content: center;
    align-items: center;
}

.container li{
    margin: 10px 0;
}
.container a{
    text-decoration: none;
    font-size: 15px;
}

.logo{
    margin-top: -3px;
    position: absolute;
    padding-left: 70px;
}
.logo img{
    width: 220px;    
}
.logo img:hover{
    cursor: pointer;
}
.navbar{
    background-color: #007acc;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    overflow: auto;
    margin-left: 42%;

}
.navbar li{
    display: flex;
    padding: 10px;
    float: left;
    margin-left: 10px;
    padding-right: 20px;
    margin-top: -12px;
    
}
.navbar li a{
    padding: 12px 4px;
    float: right;
    text-decoration: none ;
    color: white;
    font-style: normal;
    font-size: 18px;
    font-weight: 100;  
    transition: 0.25s ease-in-out; 
}
.navbar li a:hover{
    color: rgba(0, 0, 0, 0.715);
    border-bottom: 2px solid black;
    margin-bottom: -2px;
    transition: 0.25s ease-in-out;
    
}
.logout ion-icon{
    color: white;
    float: right;
    margin-top: -66px;
    margin-right: 40px;
    font-size: 27px;
    cursor: pointer;
    padding-left: 10px;
    transition: 0.3s ease-in-out;
}
.logout ion-icon:hover{
    color: rgba(0, 0, 0,0.715);
    transform: scale(1.2) translateZ(3px);
    transition: 0.3s ease-in-out ;
}




.data {
    background-color: aliceblue;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.data .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.data .left h2{
    font-size: 30px;
    font-family: 'Segoe UI';
    margin-top: -250px;
    padding: 40px;
}
.data .left p{
    padding-left: 30px;
}
.clg-img{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-start;
    margin-top: 300px;
    margin-left: -580px;
}
.clg-img img{
    position: relative;
    height: 130px;
    width: auto;
}
/* ....... */


  .form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-container h2{
    display: flex;
    position: absolute;
    max-width: 500px;
    z-index: 10;
    text-decoration: none;
    color: black;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 1400px;
    margin-top: -830px;
  }
  .blur-bg{
    position: absolute;
    background-color: rgba(91, 92, 92, 0.317);
    backdrop-filter: blur(5px);
    width: 380px;
    height: 440px;
    margin-left: 822px;
    margin-top: -460px;
    z-index: 0;
    border-radius:40px;
  }
  .contact-form {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'roboto', sans-serif;
    width: 100%;
    max-width: 22rem;
    margin-top: -420px;
    margin-left: 1300px;
    z-index: 10;
  }
  
  .form-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .form-field label {
    flex-basis: 30%;
    font-weight: bold;
  }
  
  .form-field input,
  .form-field textarea {
    flex-basis: 70%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-field textarea {
    resize: vertical;
  }
  
  .form-field input[type="submit"] {
    align-self: flex-end;
    margin-top: 7rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    background-color: #007acc;
    color: white;
    cursor: pointer;
    align-items: center;
    margin-left: 65px;
  }
  
  .form-field input[type="submit"]:hover {
    color: black;
  }
/* ....... */
.other-contact{
  background-color: whitesmoke;
  height: 400px;
}
.other-contact .left{
  width: 400px;
}
.other-contact .left h2{
  position: relative;
  text-decoration: none;
  font-family: 'Segoe UI';
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  padding: 20px;
  left: 150px;

}
.other-contact .left ion-icon{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  left: 60px;
  font-size: 20px;
  flex-basis: 10%;
}
.other-contact .left p{
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: 'roboto';
  left: 110px;
  padding: 12px;
  max-width: 400px;
  top: -242px;

}
.other-contact .right{
  height: 0px;
}
.other-contact .right h2{
  position: relative;
  text-decoration: none;
  font-family: 'Segoe UI';
  font-weight: 500;
  font-size: 28px;
  text-align: right;
  padding: 20px;
  top: -615px;
  right: 150px; 
}
.other-contact .right ion-icon{
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 20px;
  flex-basis: 10%;
  left: 50rem;
  top: -38.5rem;
}
.other-contact .right p{
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-family: 'roboto';
  padding: 12px;
  left: 53rem;
  top: -50rem;
  max-width: 30%;
}
.map-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.map{
width: 100%;
height: 320px;
text-align: center;
}
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 30px;
  position: static;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo {
  flex-basis: 20%;
  
}
.footer-logo img{
  position: relative;
  height: 70px;
  margin-top: -100px;
  margin-left: 10px;
  padding: none;
}

.contact-info {
  flex-basis: 80%;
  text-align: left;
  margin-left: 780px;
  font-size: 16px;
  
}
.tagline{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10px;
}
.tagline p{
  margin-left: -800px;
  margin-top: 170px;
  font-size: 15px;
}

.social{
    position: relative;
    margin-left: 30px;
}
.social ion-icon{
    display: inline-block;
    padding: 8px;
    margin-top: 12px;
    color: white;
    transition: 0.2s ease-in-out;
}
.social ion-icon:hover{
    transform: scale(1.5);
    transition: 0.2s ease-in-out;
}