<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intern Hive - Home Page</title>
    <link rel="stylesheet" href="/static/Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head> 
<body>
    <%- include('../partials/header') %>
    <main class="main">
        <div class="one">
        <img src="/img/MainPageImg.png" alt="">
        <h1>Set yourself <br> for Success with <br> <strong><b>Our Internships</b></strong></h1>
        </div>
        <br>
        <div class="two">
            <h1> Internships on Intern Hive</h1>
            <div class="first">
                <img src="/img/infosys_NBG.webp" alt="infosys" >
                <hr>
                <ion-icon name="location-outline"></ion-icon><p style="margin-left: 50px; position: absolute; margin-top: -18px;">Bengaluru, Karnataka, India</p>
                <ion-icon name="card-outline"></ion-icon><p style="position: absolute; margin-left: 50px; margin-top: -18px;">N/A</p>
                <ion-icon name="calendar-outline"></ion-icon><p style="position: absolute; margin-left: 50px; margin-top: -18px;">N/A</p>
                <a href="internships.html#first" target="_self"> View Details >   </a>
            </div>
            <div class="second">
                <img src="/img/Wipro-Logo.webp" alt="wipro">
                <hr>
                <ion-icon name="location-outline"></ion-icon><p style="position: absolute; margin-left: 50px; margin-top: -18px;">Bengaluru, Doddakannelli, Sarjapur <br> Road, India</p>
                <ion-icon name="card-outline"></ion-icon><p style="position: absolute; margin-left: 50px; margin-top: -18px;">N/A</p>
                <ion-icon name="calendar-outline" ></ion-icon><p style="position: absolute; margin-left: 50px; margin-top: -18px;">N/A</p>
                <a href="internships.html#four" target="_self"> View Details >   </a>
            </div>
            <div class="third">
                <img src="/img/tata-consultancy-services-logo.jpg" alt="tcs">
                <hr>
                <ion-icon name="location-outline"></ion-icon><p style="position: absolute; margin-left: 50px; margin-top: -18px;">Mumbai, India</p>
                <ion-icon name="card-outline"></ion-icon><p style="position: absolute; margin-left: 50px; margin-top: -18px;">N/A</p>
                <ion-icon name="calendar-outline"></ion-icon><p style="position: absolute; margin-left: 50px; margin-top: -18px;">N/A</p>
                <a href="internships.html#three" target="_self"> View Details >   </a>
            </div>
            
        </div>
        <div class="three">
            <h2>Image Gallery</h2>
            <div class="gallery">
                
                <!-- <img src="/img/seminarimg.jpeg" alt="Image 2"> -->
                <img src="/img/students.jpg" alt="Image 3">
                <img src="/img/mam.webp" alt="Image 4">
                <img src="/img/collegedcedu.png" alt="Image 1">
                <img src="/img/class.webp" alt="Image 5">
                <img src="/img/lab.webp" alt="Image 6">
                <img src="/img/teachers.jpg" alt="Image 7">
                <img src="/img/maminclass.webp" alt="Image 8">
                <!-- <img src="/img/anualfest.webp" alt="Image 9"> -->
                <!-- <img src="/img/anualfest2.jpg" alt="Image 10"> -->
                <!-- <img src="/img/navrangdance.jpg" alt="Image 11"> -->
                <!-- <img src="/img/B.ed.jpg" alt="Image 12"> -->
            </div>
            
                 
        </div>
        <div class="text-container">
            <div class="text">
                <p>Learn New Skills Everyday with our internships at Intern Hive</p>
            </div>
        </div>
        <div class="image-container">
            <div class="slider">
                <img src="/img/infosys_NBG.webp" alt="Image 1">
                <img src="/img/Wipro-Logo.webp" alt="Image 2">
                <img src="/img/tata-consultancy-services-logo.jpg" alt="Image 3">
                <img src="/img/MPHASIS logo.webp" alt="Image 4">
                <img src="/img/IBM-logo.webp" alt="Image 5">
            </div>
        </div>
        
    </main>
    <%- include('../partials/footer')%>
</body>

</html> 